<mat-card class="home-card">
    <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Projeto exemplo SPA com Angular</mat-card-title>
        <mat-card-subtitle>Digital Innovation One</mat-card-subtitle>
    </mat-card-header>
    <div mat-card-image></div>
    <mat-card-content>
        <p>
            Projeto exemplo demonstrando o uso de SPA com Angular e Angular Material.
        </p>
        <p>
            O desafio é criar uma aplicação com no mínimo 3 componentes para interagir na mesma página (já temos um aqui), 4 componentes do Angular Material (oba, temos este texto aqui em um Card e o alí em cima um Tollbar). Teremos também interações utilizando binding.
        </p>
        <p>
            Clique no botão abaixo para continuarmos. (legal, mais um componente de Angular Material, só falta um!)
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="btnGoClick();">Vamos lá</button>
    </mat-card-actions>
</mat-card>